  <form method="post" action="signin" class="login">
    <p>
      <label for="login">Email:</label>
      <input type="text" name="login" id="login" placeholder="name@example.com">
    </p>
    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>
    <div>
      <a href="#" id="content">Contenu</a>
    </div>
  </form>


