  <form method="post" action="index.html" class="login">
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="4815162342">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>
    <div>
      <a href="signin#penguin_joke">cool penguins</a>
    </div>
  </form>


